.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.instructions {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagesContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.imageWrapper {
    width: 100%;
}

.image {
    width: 100%;
    height: auto;    
}

.formsubmitContainer {
    display: flex;
    justify-content: center;
}

.formsubmitWrapper {
    display: flex;
    justify-content: center;
}

.formsubmit {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
.imagesContainer {
    flex-direction: column;
    text-align: center;
    gap: 40px;
}
.image {
    width: 70%;
}

.instructions {
    text-align: center;
}
}

@media only screen and (max-width: 600px) {
.image {
    width: 86%;
}
.instructions {
    font-size: 20px;
}
}