.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.children_container {
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100%;
    height: auto;
    padding: 20px 50px;
}

.footer {
    margin-top: auto;
}

@media only screen and (max-width: 1000px) {
    .children_container {
      padding: 20px 30px;
    }
  }

  @media only screen and (max-width: 450px) {
    .children_container {
      padding: 20px 20px;
    }
  }