.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro {
  font-size: 40px;
  font-weight: bold;
}

.info {
 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instructions {
  font-size: 25px;
  line-height: 1.6;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1000px) {
  .intro {
    font-size: 30px;
  }

  .instructions {
    font-size: 22px;
  }

  .link {
    font-size: 22px;
  }
}

@media only screen and (max-width: 500px) {
  .intro {
    font-size: 25px;
  }

  .instructions {
    font-size: 20px;
  }

  .link {
    font-size: 20px;
  }
}
