.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro {
  font-size: 40px;
  font-weight: bold;
}

.instructions {
  font-size: 25px;
  line-height: 1.6;
}

@media only screen and (max-width: 1000px) {
  .intro {
    font-size: 30px;
  }

  .instructions {
    font-size: 22px;
  }
}

@media only screen and (max-width: 500px) {
  .intro {
    font-size: 25px;
  }

  .instructions {
    font-size: 20px;
  }
}
