.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
}

.githubLink {
    font-size: 25px;
    line-height: 1.6;
    font-weight: bold;
    padding: 0 0 20px 0;
  }

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navlink {    
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}

.socialLink {
    font-size: 45px;
    display: inline-block;
}

.navlink:hover .socialLink {
    color: var(--hover-text);   
}

.copyright {
    font-size: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
    .copyright {
        font-size: 16px;
    }
}