@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@keyframes chunkedFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  z-index: 10;
}

.leftNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 72px;
  letter-spacing: 4px;
  margin-bottom: 40px;
  color: var(--primary-text);
  display: inline-block;
  overflow: hidden;
}

.title span {
  display: inline-block;
  opacity: 0;
  animation: chunkedFadeIn 1s ease-out forwards;
}

.title span:nth-child(1) {
  animation-delay: 0s;
}

.title span:nth-child(2) {
  animation-delay: 0.1s;
  color: var(--accent);
}

.title span:nth-child(3) {
  animation-delay: 0.2s;
}

.title span:nth-child(8) {
  margin-right: 20px;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linkList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
}

.linkList li {
  flex-grow: 1;
}

.link {
  cursor: pointer;
  font-size: 30px;
}

.link:hover {
  color: var(--hover-text);
  font-size: 31px;
}

.hamburgerIcon {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1101;
}

.hamburgerIcon span {
  height: 3px;
  width: 25px;
  background: var(--primary-text);
  position: absolute;
  transition: all 0.3s ease;
}

.hamburgerIcon span:nth-child(1) {
  top: 8px;
}

.hamburgerIcon span:nth-child(2) {
  top: 15px;
}

.hamburgerIcon span:nth-child(3) {
  top: 22px;
}

.hamburgerIcon.open {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
}

.hamburgerIcon.open span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}

.hamburgerIcon.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerIcon.open span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

.burgerList {
  margin: 15px 0;
  text-align: center;
  width: 100%;
}

.burgerLinkList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;  
  width: 100%;
  margin-top: 30px;
}

.burgerMainLink {
  font-size: 28px;
  font-weight: bold;
  display: block;
  padding: 8px 0;
}

.burgerSubList {
  list-style: none;
  text-align: center;
}

.burgerSubItem {
  margin-top: 5px;
}

.burgerSubLink {
  font-size: 25px;
  text-decoration: none;
  padding: 5px 0;
  display: block;
}

.burgerSubLink:hover {
  color: var(--hover-text);
}

.burgerMainLink:hover {
  color: var(--hover-text);
}


@media only screen and (max-width: 1000px) {
  .nav {
    padding: 8px 20px;
  }

  .title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .mobileTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 4px;
    color: var(--primary-text);
    display: inline-block;
    overflow: hidden;
  }

  .mobileTitle span {
    display: inline-block;
    opacity: 0;
    animation: chunkedFadeIn 1s ease-out forwards;
  }

  .mobileTitle span:nth-child(1) {
    animation-delay: 0s;
  }

  .mobileTitle span:nth-child(2) {
    animation-delay: 0.1s;
    color: var(--accent);
  }

  .mobileTitle span:nth-child(3) {
    animation-delay: 0.2s;
  }

  .mobileTitle span:nth-child(8) {
    margin-right: 20px;
  }

  .linkContainer {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }

  .burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 20px;
    justify-content: flex-start;
    background-color: white;
  }

  .burgerMenu.open {
    display: flex;
  }

  .burgerMenu .linkList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }

  .burgerMenu .linkList li {
    width: 100%;
    text-align: center;
  }

  .burgerMenu .link {
    font-size: 32px;
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  .title {
    font-size: 35px;
  }

  .mobileTitle {
    font-size: 35px;
  }

  .hamburgerIcon {
    top: 10px;
    right: 10px;
  }

  .hamburgerIcon.open {
    top: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .nav {
    padding: 9px 10px;
  }

  .title {
    font-size: 26px;
  }

  .title span:nth-child(8) {
    margin-right: 15px;
  }

  .mobileTitle span:nth-child(8) {
    margin-right: 15px;
  }

  .burgerMenu {
    padding: 9px 10px;
  }

  .mobileTitle {
    font-size: 26px;
  }

  .burgerMenu .link {
    font-size: 28px;
  }
}